

<nav class="navbar navbar-light colorAzulEscom2">
    <a class="navbar-brand" href="#">
      <img src="../../assets/ordenador-portatil.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Administrador de Productos
    </a>
    <ul class="navbar-nav ">
        <li class="nav-item">
            <a class="nav-link"  href="/listadoProductos"> Listado Productos <i class="fa-solid fa-shield-cat"></i></a>
        </li>
    </ul>
    <ul class="navbar-nav ">
        <li class="nav-item">
            <a class="nav-link" routerLink="/listado" >Listado Categorias <i class="fa-solid fa-cat"></i> </a>
        </li>
    </ul>
    
  </nav>
