
<div class="pt-3">
    <h1 class="text-center">Consolas de Videojuegos </h1>
</div>
<div class="container pt-4 col d-flex justify-content-center">
    <div class="align-center">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://www.lavanguardia.com/files/og_thumbnail/files/fp/uploads/2022/02/08/620280c33764b.r_d.3246-2700-0.jpeg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Todo tipo de Videojeugos y Consolas.</p>
            </div>
          </div>
        
    </div>
</div>